Projects/java/EhuBio/resources/SpectrumMSF.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MassSpectrum">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="SpectrumID"/>
              <xs:element type="xs:string" name="InstrumentName"/>
              <xs:element type="xs:string" name="DataType"/>
              <xs:element type="xs:double" name="LowPosition"/>
              <xs:element type="xs:double" name="HighPosition"/>
              <xs:element type="xs:double" name="BasePeakPosition"/>
              <xs:element type="xs:double" name="BasePeakIntensity"/>
              <xs:element type="xs:double" name="TotalIntensity"/>
              <xs:element name="SpectrumIdentifiers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SpectrumIdentifier">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:int" name="FileID"/>
                            <xs:attribute type="xs:int" name="ScanNumber"/>
                            <xs:attribute type="xs:int" name="MasterScanNumber"/>
                            <xs:attribute type="xs:double" name="RetentionTime"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ScanEvent">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ActivationTypes"/>
              <xs:element name="ActivationEnergies">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:double" name="double"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="IonizationSource"/>
              <xs:element type="xs:string" name="IsMultiplexed"/>
              <xs:element type="xs:double" name="IsolationMass"/>
              <xs:element type="xs:double" name="IsolationWidth"/>
              <xs:element type="xs:string" name="MassAnalyzer"/>
              <xs:element type="xs:string" name="MSOrder"/>
              <xs:element type="xs:string" name="Polarity"/>
              <xs:element type="xs:string" name="ScanRate"/>
              <xs:element type="xs:string" name="ScanType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PrecursorInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SpectrumHeader">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="SpectrumID"/>
                    <xs:element type="xs:string" name="InstrumentName"/>
                    <xs:element type="xs:string" name="DataType"/>
                    <xs:element type="xs:double" name="LowPosition"/>
                    <xs:element type="xs:double" name="HighPosition"/>
                    <xs:element type="xs:double" name="BasePeakPosition"/>
                    <xs:element type="xs:double" name="BasePeakIntensity"/>
                    <xs:element type="xs:double" name="TotalIntensity"/>
                    <xs:element name="SpectrumIdentifiers">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SpectrumIdentifier">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:int" name="FileID"/>
                                  <xs:attribute type="xs:int" name="ScanNumber"/>
                                  <xs:attribute type="xs:int" name="MasterScanNumber"/>
                                  <xs:attribute type="xs:double" name="RetentionTime"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ScanEvent">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="ActivationTypes"/>
                    <xs:element name="ActivationEnergies">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:double" name="double"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="IonizationSource"/>
                    <xs:element type="xs:string" name="IsMultiplexed"/>
                    <xs:element type="xs:double" name="IsolationMass"/>
                    <xs:element type="xs:double" name="IsolationWidth"/>
                    <xs:element type="xs:string" name="MassAnalyzer"/>
                    <xs:element type="xs:string" name="MSOrder"/>
                    <xs:element type="xs:string" name="Polarity"/>
                    <xs:element type="xs:string" name="ScanRate"/>
                    <xs:element type="xs:string" name="ScanType"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="MonoisotopicPeakCentroids">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Peak">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:double" name="X"/>
                            <xs:attribute type="xs:double" name="Y"/>
                            <xs:attribute type="xs:int" name="Z"/>
                            <xs:attribute type="xs:int" name="R"/>
                            <xs:attribute type="xs:double" name="SN"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="MeasuredMonoisotopicPeakCentroids">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Peak">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:double" name="X"/>
                            <xs:attribute type="xs:double" name="Y"/>
                            <xs:attribute type="xs:int" name="Z"/>
                            <xs:attribute type="xs:int" name="R"/>
                            <xs:attribute type="xs:double" name="SN"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="IsotopeClusterPeakCentroids">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Peak" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:double" name="X" use="optional"/>
                            <xs:attribute type="xs:double" name="Y" use="optional"/>
                            <xs:attribute type="xs:int" name="Z" use="optional"/>
                            <xs:attribute type="xs:int" name="R" use="optional"/>
                            <xs:attribute type="xs:double" name="SN" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="IsotopeClusterProfilePoints"/>
            </xs:sequence>
            <xs:attribute type="xs:int" name="SpectrumNumber"/>
            <xs:attribute type="xs:int" name="Charge"/>
            <xs:attribute type="xs:double" name="SinglyChargedMass"/>
            <xs:attribute type="xs:string" name="PrecursorMassOrigin"/>
            <xs:attribute type="xs:double" name="Intensity"/>
            <xs:attribute type="xs:double" name="Resolution"/>
            <xs:attribute type="xs:double" name="SignalToNoise"/>
            <xs:attribute type="xs:int" name="InstrumentDeterminedCharge"/>
            <xs:attribute type="xs:double" name="InstrumentDeterminedMonoisotopicMass"/>
            <!--<xs:attribute type="xs:double" name="PercentIsolationInterference"/>-->
            <xs:attribute type="xs:double" name="IonInjectTime"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="PeakCentroids">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Peak" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:double" name="X" use="optional"/>
                      <xs:attribute type="xs:double" name="Y" use="optional"/>
                      <xs:attribute type="xs:int" name="Z" use="optional"/>
                      <xs:attribute type="xs:int" name="R" use="optional"/>
                      <xs:attribute type="xs:double" name="SN" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="ProfilePoints"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema> 
